<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <rewrite>
      <rules>
        <clear />
        <rule name="ReverseProxyWebSocketStreamlit" stopProcessing="true">
          <match url="^_stcore/stream$" />
          <action type="Rewrite" url="http://127.0.0.1:8501/_stcore/stream" logRewrittenUrl="true" />
        </rule>
        <rule name="ReverseProxyToStreamlit" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8501/{R:1}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
